<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="style.css" type="text/css" rel="stylesheet">

</head>
<body>

    <h1>Add submission</h1>

    <form class="add_submission_form">


        <fieldset>
            <legend>Submission</legend>
            <p>
                <label for="submission_link">Submission link </label>
                <input type="text" name="submission_link" id="submission_link" />
            </p>
            <p>
                <button type="submit" disabled>Save</button>
            </p>
        </fieldset>

    </form>

</body>
</html>