<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Add/edit team</title>
    <!-- Custom Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans" rel="stylesheet">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="style.css">
    <script src="https://www.w3schools.com/lib/w3data.js"></script>
</head>
<body>
<div w3-include-html="sidebar.html"></div>
<div class="wrap">
    <h1>Add/edit team</h1>
    <div class="content">
        <!-- Form
        ================================================== -->
        <form>
            <fieldset>
                <legend>Team</legend>
                <label for="name">Team name </label>
                <input type="text" name="name" id="name" />
                <button type="submit" class="save_button" disabled>Save</button>
                <div class="content">
                    <!-- Table
                    ================================================== -->
                    <table class="main_table">
                        <thead>
                        <tr>
                            <th>id</th><th>Name</th><th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>1.</td><td>dada da</td>
                            <td>
                                <form action="#"><button class="sub_button" type="submit">Remove</button></form>
                            </td>
                        </tr>
                        <tr>
                            <td>1.</td><td>da da</td>
                            <td>
                                <form action="#"><button class="sub_button" type="submit">Remove</button></form>
                            </td>
                        </tr>
                        <tr>
                            <td>1.</td><td>Bruce Li</td>
                            <td>
                                <form action="#"><button class="sub_button" type="submit">Remove</button></form>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Add new student
                            </td>
                            <td>
                                <select>
                                    <option>ktoś</option>
                                    <option>ktoś</option>
                                    <option>ktoś</option>
                                    <option>ktoś</option>
                                </select>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </fieldset>
        </form>
    </div>
</div>
<!-- JavaScript -->
<script>
    w3IncludeHTML();
</script>
</body>
</html>
