<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Add submission</title>
        <!-- Custom Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Nunito+Sans" rel="stylesheet">
        <!-- Custom CSS -->
        <link rel="stylesheet" href="style.css">
        <script src="https://www.w3schools.com/lib/w3data.js"></script>
    </head>
    <body>
        <div w3-include-html="sidebar.html"></div>
        <div class="wrap">
            <h1>Add submission</h1>
            <div class="content">
                <header>Assignment - <a href="assignment_details.html">Hangman</a> </header>
                <form class="add_submission_form">


                    <fieldset>
                        <legend>Submission</legend>
                        <label for="submission_link">Submission link </label>
                        <input type="text" name="submission_link" id="submission_link" />
                        <button type="submit" class="submit_button" disabled>Save</button>
                    </fieldset>

                </form>
            </div>
        </div>
        <!-- JavaScript -->
        <script>
            w3IncludeHTML();
        </script>
    </body>
</html>