<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="style.css" type="text/css" rel="stylesheet">

</head>
<body>

    <h1>Add/edit person</h1>

    <form class="add_edit_person_form">

        <fieldset>
            <legend>Person</legend>
            <p>
                <label for="email">E-mail </label>
                <input type="email" name="email" id="email" />
            </p>
            <p>
                <label for="firstname">First name </label>
                <input type="text" name="firstname" id="firstname" />
            </p>
            <p>
                <label for="lastname">Last name </label>
                <input type="text" name="lastname" id="lastname" />
            </p>
            <p>
                <label for="password">Password </label>
                <input type="password" name="password" id="password" />
            </p>
            <p>
                <button type="submit" disabled>Save</button>
            </p>
        </fieldset>

    </form>

</body>
</html>
