<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Beloved Codecool CCMS</title>
    <!-- Custom Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans" rel="stylesheet">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="style.css">
    <script src="https://www.w3schools.com/lib/w3data.js"></script>
  </head>
  <body>
    <div w3-include-html="sidebar.html"></div>
    <div class="wrap">
      <h1>List of assignments</h1>
      <a href="add_edit_assignment.html"><button type="button" name="button" class="add_button">Add new assignment</button></a>
      <div class="content">
        <!-- Table
        ================================================== -->
        <table class="main_table" id="list_of_assignments">
            <thead>
                <tr>
                    <th>
                        id
                    </th>
                    <th>
                        Title
                    </th>
                    <th>
                        Content
                    </th>
                    <th>
                        Actions
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        1.
                    </td>
                    <td>
                        100 doors
                    </td>
                    <td>
                        content content content content
                    </td>
                    <td>
                        <form action="add_edit_assignment.html"><button class="sub_button" type="submit">Edit</button></form>
                        <form action="#"><button class="sub_button" type="submit">Remove</button></form>
                        <form action="add_submission.html"><button class="sub_button" type="submit">Submit assignment</button></form>
                        <form action="#"><button class="sub_button" type="submit">List submissions</button></form>
                    </td>
                </tr>
                <tr>
                    <td>
                        2.
                    </td>
                    <td>
                        hangman
                    </td>
                    <td>
                        content content content content
                    </td>
                    <td>
                        <form action="add_edit_assignment.html"><button class="sub_button" type="submit">Edit</button></form>
                        <form action="#"><button class="sub_button" type="submit">Remove</button></form>
                        <form action="add_submission.html"><button class="sub_button" type="submit">Submit assignment</button></form>
                        <form action="#"><button class="sub_button" type="submit">List submissions</button></form>
                    </td>
                </tr>
                <tr>
                    <td>
                        3.
                    </td>
                    <td>
                        ccms
                    </td>
                    <td>
                        content content content content
                    </td>
                    <td>
                        <form action="add_edit_assignment.html"><button class="sub_button" type="submit">Edit</button></form>
                        <form action="#"><button class="sub_button" type="submit">Remove</button></form>
                        <form action="add_submission.html"><button class="sub_button" type="submit">Submit assignment</button></form>
                        <form action="#"><button class="sub_button" type="submit">List submissions</button></form>
                    </td>
                </tr>
            </tbody>
        </table>
      </div>
    </div>
    <!-- JavaScript -->
    <script>
      w3IncludeHTML();
    </script>
  </body>
</html>
