<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Assigment details</title>
    <!-- Custom Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans" rel="stylesheet">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="style.css">
    <script src="https://www.w3schools.com/lib/w3data.js"></script>
</head>
<body>
<div w3-include-html="sidebar.html"></div>
<div class="wrap">
    <section class="submission">
        <div class="submission_details">
            <br>
            <header><h3>Assignment title</h3></header><br>
            <p>Max points: 50 pt</p>
            <p>Due date: 2 march 2017 23:59:59</p>
        </div>
        <div>
            <table class="main_table" id="submission_content_table">
                <thead>
                <tr>
                    <th>Assignment content</th>
                </tr>
                </thead>
                <tr>
                    <td>The answer for this assignment is NO. The answer for this assignment is NO.
                        The answer for this assignment is NO. The answer for this assignment is NO.
                        The answer for this assignment is NO. The answer for this assignment is NO.
                        The answer for this assignment is NO. The answer for this assignment is NO.
                        The answer for this assignment is NO. The answer for this assignment is NO.
                        The answer for this assignment is NO. The answer for this assignment is NO.</td>
                </tr>
                <tr>
                    <td>Link to github: <a href="http://www.github.com">www.github.com</a></td>
                </tr>
            </table>

        </div>
    </section>


</div>
</div>
<!-- JavaScript -->
<script>
    w3IncludeHTML();
</script>
</body>
</html>
