<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Attendance</title>
    <!-- Custom Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans" rel="stylesheet">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="style.css">
    <script src="https://www.w3schools.com/lib/w3data.js"></script>
  </head>
  <body>
    <div w3-include-html="sidebar.html"></div>
    <div class="wrap">
      <div class="content">
        <!-- Table
        ================================================== -->
        <div id="attendance-content">
            <h1>Attendance</h1>
            <div id="label-input"><label>Date </label><input type="date" placeholder="Date"/>
                <button class="submit_button" type="submit" name="button">Save</button></div>
            <div id="table">
                <table id="attend_table">
                    <tr>
                        <th>Jan Nowak</th>
                        <form>
                        <th><input type="radio" name="attendance" value="Present"/>Present</th>
                        <th><input type="radio" name="attendance" value="Late" />Late</th>
                        <th><input type="radio" name="attendance" value="Absent" />Absent</th>
                        </form>

                    </tr>
                    <tr>
                        <form>
                        <th>Artur Biegły</th>
                        <th><input type="radio" name="attendance" value="Present" />Present</th>
                        <th><input type="radio" name="attendance" value="Late" />Late</th>
                        <th><input type="radio" name="attendance" value="Absent" />Absent</th>
                        </form>
                    </tr>
                    <tr>
                        <form>
                        <th>Mariusz Kot</th>
                        <th><input type="radio" name="attendance" value="Present" />Present</th>
                        <th><input type="radio" name="attendance" value="Late" />Late</th>
                        <th><input type="radio" name="attendance" value="Absent" />Absent</th>
                        </form>
                    </tr>
                </table>
            </div>
        </div>
      </div>
    </div>
    <!-- JavaScript -->
    <script>
      w3IncludeHTML();
    </script>
  </body>
</html>
