<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Attendance</title>
    <!-- Custom Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans" rel="stylesheet">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="style.css">
    <script src="https://www.w3schools.com/lib/w3data.js"></script>
  </head>
  <body>
    <div w3-include-html="sidebar.html"></div>
    <div class="wrap">
      <h1>Attendance</h1>
      <div class="content">
        <!-- Table
        ================================================== -->
          <div id="label-input">
            <label>Date </label><input type="date" placeholder="Date"/>
            <button class="submit_button" type="submit" name="button">Save</button>
          </div>
          <table id="attendance_table">
              <tr>
                  <td>Jan Nowak</td>
                  <form>
                  <td><input type="radio" name="attendance[12][1]" value="Present"/>Present</td>        <!--TODO-->
                  <td><input type="radio" name="attendance[12][0]" value="Late" />Late</td>
                  <td><input type="radio" name="attendance[12][-1]" value="Absent" />Absent</td>
                  </form>

              </tr>
              <tr>
                  <form>
                  <td>Artur Biegły</td>
                  <td><input type="radio" name="attendance" value="Present" />Present</td>
                  <td><input type="radio" name="attendance" value="Late" />Late</td>
                  <td><input type="radio" name="attendance" value="Absent" />Absent</td>
                  </form>
              </tr>
              <tr>
                  <form>
                  <td>Mariusz Kot</td>
                  <td><input type="radio" name="attendance" value="Present" />Present</td>
                  <td><input type="radio" name="attendance" value="Late" />Late</td>
                  <td><input type="radio" name="attendance" value="Absent" />Absent</td>
                  </form>
              </tr>
          </table>
      </div>
    </div>
    <!-- JavaScript -->
    <script>
      w3IncludeHTML();
    </script>
  </body>
</html>
