<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Attendance</title>
    <link rel="stylesheet" href="style.css" type="text/css">
</head>
<body>

<div id="attendance-content">
    <h4>Attendance</h4>
    <div><label>Date </label><input type="date" placeholder="Date"/></div>
    <br>
    <table id="attend_table">
        <tr>
            <th>Jan Nowak</th>
            <th><input type="radio" name="attendance" value="Present"</th>Present
            <th><input type="radio" name="attendance" value="Late"</th>Late
            <th><input type="radio" name="attendance" value="Absent"</th>Absent
        </tr>
        <tr>
            <th>Artur Biegły</th>
            <th><input type="radio" name="attendance" value="Present"</th>Present
            <th><input type="radio" name="attendance" value="Late"</th>Late
            <th><input type="radio" name="attendance" value="Absent"</th>Absent
        </tr>
        <tr>
            <th>Mariusz Kot</th>
            <th><input type="radio" name="attendance" value="Present"</th>Present
            <th><input type="radio" name="attendance" value="Late"</th>Late
            <th><input type="radio" name="attendance" value="Absent"</th>Absent
        </tr>
    </table>
</div>




</body>
</html>