<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>My grades</title>
    <!-- Custom Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans" rel="stylesheet">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="style.css">
    <script src="https://www.w3schools.com/lib/w3data.js"></script>
</head>
<body>
<div w3-include-html="sidebar.html"></div>
<div class="wrap">
    <h1>My Grades</h1>
    <div class="content">
        <!-- Table
        ================================================== -->
        <table>
            <thead>
            <tr>
                <th>id</th><th>Assignment</th><th>Grade</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>1.</td><td>make something great in 1s</td><td>9/10</td>

            </tr>
            <tr>
                <td>2.</td><td>do sfsafasfasfasfasf</td><td>99/100</td>

            </tr>
            <tr>
                <td>3.</td><td>do dsfsfsfs</td><td>2/700</td>
            </tr>
            </tbody>
        </table>
        <span id="overall_grade">Overall grade: 1%</span>
    </div>
</div>
<!-- JavaScript -->
<script>
    w3IncludeHTML();
</script>
</body>
</html>