<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Beloved Codecool CCMS</title>
    <!-- Custom Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans" rel="stylesheet">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="style.css">
    <script src="https://www.w3schools.com/lib/w3data.js"></script>
  </head>

  <body>

    <div id="login-content">
    <form id="login">
        <h4>Login to your account.</h4>
        <div><input type="email" placeholder="E-mail address" name="email"/></div><br>
        <div><input type="password" placeholder="Password"/></div><br>
        <!-- link and type button instead of submit for easier navigation before framework implementation -->
        <div><a href="students.html"><button type="button" name="button">Login</button></a></div>
    </form>
    </div>
    <!-- JavaScript -->
  </body>

</html>
