<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Beloved Codecool CCMS</title>
    <!-- Custom Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans" rel="stylesheet">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="style.css">
    <script src="https://www.w3schools.com/lib/w3data.js"></script>
    <script src="js/login.js"></script>
  </head>

  <body>

    <div id="login-content">
    <form id="login" name="login" method="post">
        <h4>Login to your account.</h4>
        <div id="email_format_error">E-mail should look like this: name@domain.xx(x)</div>
        <div id="password_error">Password is to short!</div>
        <div><input id="email" type="email" placeholder="E-mail address" name="email"/><br></div>
        <div><input id="password" type="password" placeholder="Password" name="password" /><br></div>
        <button type="submit" value="Login" class="button" onclick="validateLogin(event)">Login</button>
    </form>
    </div>
    <!-- JavaScript -->
  </body>

</html>



