<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>List of mentors</title>
    <!-- Custom Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans" rel="stylesheet">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="style.css">
    <script src="https://www.w3schools.com/lib/w3data.js"></script>
  </head>
  <body>
    <div w3-include-html="sidebar.html"></div>
    <div class="wrap">
      <h1>List of mentors</h1>
      <a href="add_edit_person_form.html" class="button submit_button">Add new mentor</a>
      <div class="content">
        <!-- Table
        ================================================== -->
        <table class="main_table">
            <thead>
                <tr>
                    <th>id</th><th>Name</th><th>E-mail</th><th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1.</td>
                    <td>Przemysław Ciąćka</td>
                    <td>przemek@codecool.pl</td>
                    <td>
                        <a href="add_edit_person_form.html" class="button">Edit</a>
                        <a href="#" class="button">Remove</a>
                    </td>
                </tr>
                <tr>
                    <td>2.</td>
                    <td>Marcin Izworski</td>
                    <td>marcin@codecool.pl</td>
                    <td>
                        <a href="add_edit_person_form.html" class="button">Edit</a>
                        <a href="#" class="button">Remove</a>
                    </td>
                </tr>
                <tr>
                    <td>3.</td>
                    <td>Mateusz Ostafil</td>
                    <td>mateusz@codecool.pl</td>
                    <td>
                        <a href="add_edit_person_form.html" class="button">Edit</a>
                        <a href="#" class="button">Remove</a>
                    </td>
                </tr>
            </tbody>
        </table>
      </div>
    </div>
    <!-- JavaScript -->
    <script>
      w3IncludeHTML();
    </script>
  </body>
</html>
