<sidebar>
  <!-- Sidebar Header
  ================================================== -->
  <header class="sideheader">
    <p>You're logged in as:</p>
    <img id="logo" src="images/logo.png" alt="logo">
    <h2>Przemek</h2>
    <a href="index.html">Logout</a>
  </header>
  <!-- Navigation
  ================================================== -->
  <nav>
     <ul>
         <li><a href="user_details.html">User menu</a></li>
        <ul class="submenu">
            <li><a href="assignments.html">My assignments</a></li>
            <li><a href="grades_view.html">My grades</a></li>
            <li><a href="team_details.html">My team</a></li>
            <li><a href="attendance_student_view.html">My attendance</a></li>
        </ul>
            <li><a href="students.html">Students</a></li>
            <ul class="submenu">
                <li><a href="students.html">List of students</a></li>
                <li><a href="add_edit_person_form.html">Add student</a></li>
                <li><a href="teams.html">Teams</a></li>
                <li><a href="attendance_check.html">Attendance check</a></li>
                <li><a href="attendance_list.html">Attendance list</a></li>
            </ul>
            <li><a href="assignments.html">Assignments</a></li>
                <ul class="submenu">
                <li><a href="assignments.html">List of assigments</a></li>
                <li><a href="add_edit_assignment.html">Add an assigments</a></li>
              </ul>
          <li><a href="mentors.html">Mentors</a></li>
            <ul class="submenu">
              <li><a href="mentors.html">List of mentors</a></li>
              <li><a href="add_edit_person_form.html">Add mentor</a></li>
            </ul>
          <li><a href="staff.html">Staff</a></li>
            <ul class="submenu">
              <li><a href="staff.html">List of staff</a></li>
              <li><a href="add_edit_person_form.html">Add staff</a></li>
            </ul>
        </ul>
      </nav>
</sidebar>
