<sidebar>
  <!-- Sidebar Header
  ================================================== -->
  <header>
    <p>You're logged in as:</p>
    <img id="logo" src="images/logo.png" alt="logo">
    <h2>Przemek</h2>
    <a href="index.html">Logout</a>
  </header>
  <!-- Navigation
  ================================================== -->
  <nav>
    <ul>
      <li><a href="students.html">Students</a></li>
        <ul class="submenu">
          <li><a href="students.html">List of students</a></li>
          <li><a href="teams.html">Teams</a></li>
          <li><a href="attendance.html">Attendance</a></li>
        </ul>
      <li><a href="assignments.html">Assignments</a></li>
      <li><a href="mentors.html">Mentors</a></li>
      <li><a href="staff.html">Staff</a></li>
    </ul>
  </nav>
</sidebar>
