<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>my attendance</title>
    <!-- Custom Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans" rel="stylesheet">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="style.css">
    <script src="https://www.w3schools.com/lib/w3data.js"></script>
</head>
<body>
<div w3-include-html="sidebar.html"></div>
<div class="wrap">
    <h1>My attendance</h1>
    <div class="content">
        <!-- Table
        ================================================== -->
        <table class="main_table">
            <thead>
            <tr>
                <th>id</th><th>Date</th><th>Status</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>1.</td><td>23.12.1864</td><td>present</td>

            </tr>
            <tr>
                <td>2.</td><td>22.02.1715</td><td>absent</td>

            </tr>
            <tr>
                <td>3.</td><td>12.07.1903</td><td>late</td>
            </tr>
            </tbody>
        </table>
        <span id="overall_attendance">Overall attendance:</span>
    </div>
</div>
<!-- JavaScript -->
<script>
    w3IncludeHTML();
</script>
</body>
</html>