/*Style*/


/* Login styles */

#login h4 {

    font-family: Helvetica, serif;
    font-weight: 300;
    color: rgba(4,4,6,0.6);
}

#login {
    text-align: center;
    line-height: 40px;
    margin-top: 15%;
    margin-left: 35%;
    margin-right: 35%;
    border: solid 1px darkgrey;
    border-radius: 20px;
    padding-bottom: 20px;
    }

#login input {
    width: 70%;
    font-size: 17px;
}

#login button {
    width: 70%;
    background-color: rgba(4,4,6,0.6);
    color: white;
    border-radius: 20px;
    border:none
}

/* Attendance styles */

#attendance-content {
    margin-top: 15%;
    margin-left: 20%;
}

#attendance-content h4 {
    font-family: Helvetica, serif;
    font-weight: 300;
    font-size: 16px;
    color: rgba(4,4,6,0.6);
}

#attendance-content label {
    font-family: Helvetica, serif;
    font-size: 12px;
    font-weight: 300;
    color: rgba(4,4,6,0.6);
}

#attendance-content th {
    text-align: left;
    font-family: Helvetica, serif;
    font-size: 12px;
    font-weight: 300;
    color: rgba(4,4,6,0.6);
    width: 150px;
    border-bottom: solid;
    border-width: 1px;

}

/*add edit person form*/


.add_edit_person_form {
    font-family: Helvetica, serif;
    margin-right: 100px;
    width: 500px;
    float: right;
}

.add_edit_person_form fieldset {
    text-align: right;
    line-height: 50px;
}

.add_edit_person_form input {
    width: 300px;
}


/*.add_edit_assignment_form */


.add_edit_assignment_form {
    font-family: Helvetica, serif;
    margin-right: 100px;
    width: 500px;
    float: right;

}

.add_edit_assignment_form fieldset {
    text-align: right;
    line-height: 50px;
}

.add_edit_assignment_form input {
    width: 300px;
}

.add_edit_assignment_form textarea {
    width: 300px;
    height: 185px;
}


/*add_submission*/


.add_submission_form {
    font-family: Helvetica, serif;
    margin-right: 100px;
    width: 500px;
    float: right;
}

.add_submission_form fieldset {
    text-align: right;
    line-height: 50px;
}

.add_submission_form input {
    width: 300px;
}


/*main table*/


table.main_table {
    width: 80%;
}

.main_table, .main_table td, .main_table th {
    border-style: solid;
    border-color: black;
    border-collapse: collapse;
    border-width: 3px;
}

.main_table td, .main_table th {
    padding: 10px;
}

.main_table td {
    border-width: 1px;
}

.main_table thead th {
    border-width: 1px 1px 3px 1px ;
}

.main_table tbody td:first-child, .main_table thead th:first-child {
    border-right-width: 3px;
}

