/*Style*/


/* Login styles */

#login h4 {

    font-family: Helvetica, serif;
    font-weight: 300;
    color: rgba(4,4,6,0.6);
}

#login {
    text-align: center;
    line-height: 40px;
    margin-top: 15%;
    margin-left: 35%;
    margin-right: 35%;
    border: solid 1px darkgrey;
    border-radius: 20px;
    padding-bottom: 20px;
    }

#login input {
    width: 70%;
    font-size: 17px;
}

#login button {
    width: 70%;
    background-color: rgba(4,4,6,0.6);
    color: white;
    border-radius: 20px;
    border:none
}

/* Attendance styles */

#attendance-content {
    margin-top: 15%;
    margin-left: 20%;
}

#attendance-content h4 {
    font-family: Helvetica, serif;
    font-weight: 300;
    font-size: 16px;
    color: rgba(4,4,6,0.6);
}

#attendance-content label {
    font-family: Helvetica, serif;
    font-size: 12px;
    font-weight: 300;
    color: rgba(4,4,6,0.6);
}

#attendance-content th {
    text-align: left;
    font-family: Helvetica, serif;
    font-size: 12px;
    font-weight: 300;
    color: rgba(4,4,6,0.6);
    width: 150px;
    border-bottom: solid;
    border-width: 1px;

}