<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Beloved Codecool CCMS</title>
    <!-- Custom Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans" rel="stylesheet">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="style.css">
    <script src="https://www.w3schools.com/lib/w3data.js"></script>
  </head>
  <body>
    <div w3-include-html="sidebar.html"></div>
    <div class="wrap">
      <h1>List of assignments</h1>
      <a href="add_edit_assignment.html" class="button submit_button">Add new assignment</a>
      <div class="content">
        <!-- Table
        ================================================== -->
        <table class="main_table">
            <thead>
                <tr>
                    <th>
                        id
                    </th>
                    <th>
                        Title
                    </th>
                    <th>
                        Content
                    </th>
                    <th>
                        Actions
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        1.
                    </td>
                    <td>
                        100 doors
                    </td>
                    <td>
                        content content content content
                    </td>
                    <td>
                        <a href="add_edit_assignment.html">Edit</a> | <a href="#">Remove</a> | <a href="add_submission.html">Submit assignment</a> | <a href="#">List submissions</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        2.
                    </td>
                    <td>
                        hangman
                    </td>
                    <td>
                        content content content content
                    </td>
                    <td>
                        <a href="add_edit_assignment.html">Edit</a> | <a href="#">Remove</a> | <a href="add_submission.html">Submit assignment</a> | <a href="#">List submissions</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        3.
                    </td>
                    <td>
                        ccms
                    </td>
                    <td>
                        content content content content
                    </td>
                    <td>
                        <a href="add_edit_assignment.html">Edit</a> | <a href="#">Remove</a> |  <a href="add_submission.html">Submit assignment</a> | <a href="#">List submissions</a>
                    </td>
                </tr>
            </tbody>
        </table>
      </div>
    </div>
    <!-- JavaScript -->
    <script>
      w3IncludeHTML();
    </script>
  </body>
</html>
