<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="utf-8">
          <title>Submission details</title>
        <!-- Custom Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Nunito+Sans" rel="stylesheet">
        <!-- Custom CSS -->
        <link rel="stylesheet" href="style.css">
        <script src="https://www.w3schools.com/lib/w3data.js"></script>
  </head>
  <body>
    <div w3-include-html="sidebar.html"></div>
    <div class="wrap">

            <h1><a href="assignment_details.html">Assignment 1</a> -
                <a href="student_details">Jan Nowak</a> submission</h1>
        <div class="content">
            <table class="main_table">
                <tr>
                    <th>Grade</th>
                    <td>-/50 pt <a href="#" class="button">Grade</a></td>
                </tr>
                <th>Due date</th>
                <td>2 march 2017 23:59:59</td>
                <tr>
                    <th>Time of submission</th>
                    <td>1 march 2017 15:55:52</td>
                </tr>
                <tr>

                </tr>

                <tr>
                    <th>Submission content</th>
                    <td>The answer for this assignment is NO.
                        <a href="http://github.com">www.github.com</a></td>
                </tr>

            </table>


            </div>



      </div>

    <!-- JavaScript -->
    <script>
      w3IncludeHTML();
    </script>
  </body>
</html>
