<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>List of submissions</title>
    <!-- Custom Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans" rel="stylesheet">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="style.css">
    <script src="https://www.w3schools.com/lib/w3data.js"></script>
  </head>
  <body>
    <div w3-include-html="sidebar.html"></div>
    <div class="wrap">
      <a href="add_edit_assignment.html" class="button submit_button">Add new assignment</a>
      <h1>Assignment 1 - List of submissions</h1>
         <div class="content">
        <!-- Table
        ================================================== -->
        <table class="main_table">
            <thead>
                <tr>
                    <th>
                        id
                    </th>
                    <th>
                        Student name
                    </th>
                    <th>
                        Status
                    </th>
                    <th>
                        Points
                    </th>
                    <th>
                        Actions
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1.
                    </td>
                    <td>
                        Jan Kowalski
                    </td>
                    <td>
                        Not graded
                    </td>
                    <td>-/50 pt</td>
                    <td>
                        <a href="submission_details.html" class="button">Details</a>
                        <a href="#" class="button">Grade</a>
                    </td>
                </tr>
                <tr>
                    <td>2.
                    </td>
                    <td>
                        Marcin Nowak
                    </td>
                    <td>
                        Graded
                    </td>
                    <td>22/50 pt</td>
                    <td>
                        <a href="submission_details.html" class="button">Details</a>
                        <a href="#" class="button">Grade</a>
                    </td>
                </tr>
                <tr>
                <tr>
                    <td>3.
                    </td>
                    <td>
                        Janina Małek
                    </td>
                    <td>
                        Graded
                    </td>
                    <td>33/50 pt</td>
                    <td>
                        <a href="submission_details.html" class="button">Details</a>
                        <a href="#" class="button">Grade</a>
                    </td>
                </tr>
                </tr>
            </tbody>
        </table>
      </div>
    </div>
    <!-- JavaScript -->
    <script>
      w3IncludeHTML();
    </script>
  </body>
</html>
