<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="utf-8">
          <title>Beloved Codecool CCMS</title>
        <!-- Custom Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Nunito+Sans" rel="stylesheet">
        <!-- Custom CSS -->
        <link rel="stylesheet" href="style.css">
        <script src="https://www.w3schools.com/lib/w3data.js"></script>
  </head>
  <body>
    <div w3-include-html="sidebar.html"></div>
    <div class="wrap">
        <section class="submission">
        <header><h1><a href="assignment_details.html">Assignment 1</a> - <a href="student_details">Jan Nowak</a> submission</h1></header>
            <div><ul><li>Max points: 50 pt</li>
            <li>Due date: 2 march 2017 23:59:59</li></div>

            <div>Time of submission: 1 march 2017 15:55:52</div>
            <div><header>Submission content</header>
                <div>Link to github: <a href="http://www.github.com">www.github.com</a></div></div>
            <div><a href="#">Grade assignment</a></div>
        </section>


      </div>
    </div>
    <!-- JavaScript -->
    <script>
      w3IncludeHTML();
    </script>
  </body>
</html>
