<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>tables</title>

    <link rel="stylesheet" href="style.css" type="text/css">
</head>
<body>
<table class="main_table">
    <thead>
        <tr>
            <th>
                id
            </th>
            <th>
                Name
            </th>
            <th>
                E-mail
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                1.
            </td>
            <td>
                Jan Nowak
            </td>
            <td>
                jan.nowak@email.com
            </td>
            <td>
                <a href="edit.html">Edit</a> | <a href="">Remove</a> | <a href="">Add to team</a>
            </td>
        </tr>
        <tr>
            <td>
                2.
            </td>
            <td>
                Krzysztof Jakiś
            </td>
            <td>
                jakis@mail.pl
            </td>
            <td>
                <a href="">Edit</a> | <a href="">Remove</a> | <a href="">Add to team</a>
            </td>
        </tr>
        <tr>
            <td>
                3.
            </td>
            <td>
                Adam Kowalski
            </td>
            <td>
                kowalski@mail.pl
            </td>
            <td>
                <a href="">Edit</a> | <a href="">Remove</a> |  <a href="">Add to team</a>
            </td>
        </tr>
    </tbody>
</table>
</body>
</html>