<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="utf-8">
          <title>Team details</title>
        <!-- Custom Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Nunito+Sans" rel="stylesheet">
        <!-- Custom CSS -->
        <link rel="stylesheet" href="style.css">
        <script src="https://www.w3schools.com/lib/w3data.js"></script>
  </head>
  <body>
    <div w3-include-html="sidebar.html"></div>
    <div class="wrap">
        <h1>Team OOPS <a href="#" class="button">Edit name</a></h1>
            <div class="content">


                <h2>Team members<a href="add_edit_person_form.html" class="button add_button">Add member</a></h2>
                <table class="main_table">
                    <thead>
                    <tr>
                        <th>id</th><th>Student</th><th>Action</th>
                    </tr>
                    </thead>
                    <tr>
                        <td>1.</td>
                        <td><a href="user_details.html">Marek Frankowicz</a></td>
                        <td><a href="#" class="button">Remove</a></td>
                    </tr>
                    <tr>
                        <td>2.</td>
                        <td><a href="user_details.html">Joanna Gargaś</a></td>
                        <td><a href="#" class="button">Remove</a></td>
                    </tr>
                    <tr>
                        <td>3.</td>
                        <td><a href="user_details.html">Michał Kaczkowski</a></td>
                        <td><a href="#" class="button">Remove</a></td>
                    </tr>
                    <tr>
                        <td>4.</td>
                        <td><a href="user_details.html">Marta Sajdak</a></td>
                        <td><a href="#" class="button">Remove</a></td>
                    </tr>

                </table>


            <div class="team_details">
                <header><h2>Team assigments </h2></header>
                <table class="main_table">
                    <thead>
                    <tr>
                        <th>id</th><th>Assignment name</th><th>Status</th><th>Submission</th><th>Grade</th>
                    </tr>
                    </thead>
                    <tr>
                        <td>1.</td>
                        <td><a href="assignment_details.html">Hangman</a></td>
                        <td>Submitted, Graded</td>
                        <td><a href="submission_details.html" class="button">View submission</a></td>
                        <td>50/55 pt <a href="#" class="button">Change grade</a></td>
                    </tr>
                    <tr>
                        <td>2.</td>
                        <td><a href="assignment_details.html">Assignment1</a></td>
                        <td>Submitted, Not graded</td>
                        <td><a href="submission_details.html" class="button">View submission</a></td>
                        <td>-/45 pt <a href="#" class="button">Grade</a></td>
                    </tr>
                    <tr>
                        <td>3.</td>
                        <td><a href="assignment_details.html">Assignment2</a></td>
                        <td>Not submitted</td>
                        <td>-</td>
                        <td>-/55 pt </td>
                    </tr>
                    <tr>
                        <td>4.</td>
                        <td><a href="assignment_details.html">Assignment3</a></td>
                        <td>Submitted, Graded</td>
                        <td><a href="submission_details.html" class="button">View submission</a></td>
                        <td>10/12 pt <a href="#" class="button">Change grade</a></td>
                    </tr>

                </table>


            </div>



      </div>

    <!-- JavaScript -->
    <script>
      w3IncludeHTML();
    </script>
  </body>
</html>
