<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="utf-8">
          <title>Submission details</title>
        <!-- Custom Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Nunito+Sans" rel="stylesheet">
        <!-- Custom CSS -->
        <link rel="stylesheet" href="style.css">
        <script src="https://www.w3schools.com/lib/w3data.js"></script>
  </head>
  <body>
    <div w3-include-html="sidebar.html"></div>
    <div class="wrap">

        <div class="content">
            <h1>User details <a href="add_edit_person_form.html" class="button">Edit</a></h1>
                <h3>Name: Antoni Niewesoły</h3>
                <p>mail: 123antoni@hmail.com</p>
                <p><a href="add_edit_person_form.html">change password</a></p>
                <a href="attendance_student_view.html" class="info_box"><h2>overall attendance</h2><span>87%</span></a>
                <a href="grades_view.html" class="info_box"><h2>overall grade</h2><span>77%</span></a>
            <div class="team_details">
                <h2>Assigments</h2>
                <table id="team_assigment_table">

                    <thead>
                    <tr>
                        <th>id</th><th>Assignment name</th><th>Status</th><th>Submission</th><th>Grade</th>
                    </tr>
                    </thead>
                    <tr>
                        <td>1.</td>
                        <td><a href="assignment_details.html">Hangman</a></td>
                        <td>Submitted, Graded</td>
                        <td><a href="submission_details.html" class="button">View submission</a></td>
                        <td>50/55 pt <a href="#" class="button">Change grade</a></td>
                    </tr>
                    <tr>
                        <td>2.</td>
                        <td><a href="assignment_details.html">Assignment1</a></td>
                        <td>Submitted, Not graded</td>
                        <td><a href="submission_details.html" class="button">View submission</a></td>
                        <td>-/45 pt <a href="#" class="button">Grade</a></td>
                    </tr>
                    <tr>
                        <td>3.</td>
                        <td><a href="assignment_details.html">Assignment2</a></td>
                        <td>Not submitted</td>
                        <td>-</td>
                        <td>-/55 pt </td>
                    </tr>
                    <tr>
                        <td>4.</td>
                        <td><a href="assignment_details.html">Assignment3</a></td>
                        <td>Submitted, Graded</td>
                        <td><a href="submission_details.html" class="button">View submission</a></td>
                        <td>10/12 pt <a href="#" class="button">Change grade</a></td>
                    </tr>
                </table>
            </div>

        </div>




      </div>

    <!-- JavaScript -->
    <script>
      w3IncludeHTML();
    </script>
  </body>
</html>
