/* basic elements */
html, body {
  height: 100%;
}
 /*TODO line between*/
body {

  font: 100% "Nunito Sans", sans-serif;
  line-height: 1.7;
  margin: 0;
  padding: 0;
  min-width: 470px;
  width: 100%;
}

body::after {
  content: "";
  background-image: url("/static/images/background.png");
  background-size: 100%;
  position: fixed;
  z-index: -1;
  opacity: 0.3;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
}
p {
  color: #3C3744;
  text-align: left;
}
h1, h2 {
  margin: 2%;
  font: normal 1.2em Sansita, sans-serif;
  letter-spacing: 1px;
  color: #3C3744;
}
h1 {
  font-size: 1.5em;
  padding: 2%;
}
h2 {
  margin: 0;
  padding: 10px 0;
}
header {
  padding: 0 20px 5px 20px;
}
#logo {
  border-radius: 50%;
  float: left;
  padding-right: 10px;
  width: 60px;
}
a:link, a:visited, a:active, a:hover {
  font-weight: bold;
  text-decoration: none;
  color: #C3423F;
}
a:hover {
  color: #f5ef8d;
}
em {
  font-size: 25px;
  color: #C3423F;
  border-radius: 20px;
  width: 59%;
  display: block;
  background-color: white;
  padding-left: 2%;
}
.messages {
    border: 0;
    top: 0;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    background-color: #f5ef8d;
    opacity: 0.7;
    width: 60%;
    line-height: 0.5;
}
.messages li {
    color: #C3423F;
    display: block;
    font-size: 1.1em;
    font-weight: bold;
    letter-spacing: 0.025em;
    text-align: center;
}
/* button */

button, .button {
  background-color: white;
  color: #C3423F;
  font-size: 12px;
  text-align: center;
  margin: 0 0 0 10px;
  padding: 3px 0;
  text-decoration: none;
  border-radius: 20px;
  border:none;
  display: inline-block;
  width: 125px;
}
button:hover, .button:hover, button:focus, .button:focus {
  background-color: rgb(175, 68, 68);
  color: #F4F1BB;
}
.submit_button {
  position: absolute;
  width: 150px;
  padding: 5px 10px;
  top: 7%;
  right: 8%;
}
.user_button {
  width: 100px;
}
.team_button {
  padding: 6px 10px;
}
.team_button:first-of-type{
  margin-left: 60px;
}
.grade_button {
  padding: 6px 10px;
  margin: 2% 45%;
}
.assignment_buttons {
  width: 75px;
}

/* layout */

body > div:first-child {
  height: 100%;
  z-index: -1;
  width: 20%;
  float: left;
}
sidebar {
  float: left;
  width: 20%;
  height: 100%;
  background-color:rgba(138, 169, 181, 0.88);
  border-right: 1px solid black;
  position: fixed;
}
.wrap {
  margin: 0 auto;
  top: 0;
  height: 100%;
  float: right;
  width: 79.9%;
}
.wrap::after {
  background-color: rgba(228, 163, 148, 0.52);
  content: "";
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
}
.content {
  padding: 0 10% 0 4%;
  margin-bottom: 10%;
}
.content header {
  border: none;
}

/* navigation bar */

nav {
  padding-top: 4%;
}
nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  overflow: hidden;
}
nav ul li a {
  display: block;
  font-size: 10px;
  font-family: Sansita, sans-serif;
  color: black !important;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0 20px 4px 25px;
}
nav ul li a:first-of-type {
  border-top: 1px solid black;
}
nav ul li a:hover, nav ul li a:focus {
  background-color:rgb(59, 104, 121);
  color: #F4F1BB !important;
}
.submenu {
  margin-left: 40px;
  padding-bottom: 9px;
}
.submenu li a {
  font-size: 11px;
  font-weight: 100;
}
.submenu li a:first-of-type {
  border-top: none;
}

/* Login styles */

#email_format_error{
  display: none;
  color: red;
  font-family: Helvetica, serif;
  font-size: 8px
}
#password_error{
  display: none;
  color: red;
  font-family: Helvetica, serif;
  font-size: 8px;
}
#login-content h4 {
  font-family: Helvetica, serif;
  font-weight: 300;
  color: rgba(4,4,6,0.6);
}
#login-content {
  background-color: rgba(228, 163, 148, 0.90);
  height: 250px;
  width: 400px;
  text-align: center;
  line-height: 40px;
  margin-top: 10%;
  margin-left: 35%;
  margin-right: 35%;
  border: solid 1px darkgrey;
  border-radius: 20px;
  padding-bottom: 20px;
}
#login div {
  margin-left: 10%;
  margin-right: 10%;
}
#login input {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  font-size: 17px;
  font-weight: 300;
  padding: 10px;
}
#login button{
  font-size: 17px;
  border: 1px solid grey;
  padding: 4px;
}
#attendance_table {
  width: 50%;
  background-color: rgba(228, 163, 148, 0.90);
  border-radius: 20px;
}
#attendance_table input {
  margin-left: 0;
  margin-right: 5px;
  width: 15px;
}
#attendance_table td {
  padding: 6px;
  width: 200px;
  font-weight: 200;
}
#label-input{
  padding: 0;
  display: inline-flex;
  margin-bottom: 3%;
}
#label-input label{
  width: 50px;
  padding: 0;
  font-family: Helvetica, serif;
  font-size: 14px;
  font-weight: 100;
}
#label-input input{
  width: 150px;
  margin: 0;
  border-radius: 25px;
  border-width: 0;
}

/* Attendance_list styles */
#date-style {
  display: flex;
  margin-bottom: 10px;
}
#date-style label {
  padding-left:0;
  width: 50px;
  height: 20px;
  font-weight: 100;
  font-family: Helvetica, serif;
}

#date-style input {
  margin-left: 10px;
  width: 140px;
  border-radius: 25px;
  border-width: 0;
}
#select_student label, select{
  padding-left: 0px;
  width: 90px;
  font-weight: 100;
  font-family: Helvetica, serif;
}
#edit_team {
  margin-left: 20px;
}
/* forms */

label, input, textarea {
  float: left;
  clear: left;
  width: 15em;
  padding-left: 100px;
}
input, textarea {
  width: 50%;
  padding: 4px 10px;
  margin: 8px 80px;
  box-sizing: border-box;
}
textarea {
  height: 15em;
}
fieldset {
  border: solid 1px black;
  border-radius: 20px;
  background-color: rgba(228, 163, 148, 0.90);
}
legend {
  border: solid 1px black;
  border-radius: 10px;
  font-size: 20px;
  text-align: right;
  padding: 0.2em 0.5em;
  background-color: rgba(228, 163, 148, 0.90);
}

/* table */
table {
  background-color: rgba(228, 163, 148, 0.90);
  width: 100%;
  border: 1px solid black;
  border-radius: 20px;
  margin: 3% 0 10% 0;
}
    /*TODO Przemek advise */
    table th {
      border-bottom: 1px dotted black;
    }

    table th:first-of-type {
      border-bottom-left-radius: 2em;
    }

    table th:last-of-type {
      border-bottom-right-radius: 2em;
    }

.details_table th{
  border: none;
}
table td, table th {
  padding: 7px;
}
table td {
  border-width: 1px;
}
table thead th {
  border-width: 1px 1px 2px 1px;
}
table tbody td:first-child, table thead th:first-child {
  border-right-width: 2px;
}

/* Submission details styles */

.submission a {
  font-size: 14px;
}
.submission h1 {
  font-size: 14px;
  margin-left: 0%;
  padding-left: 0;
}
.submission header {
  border: none;
  margin: 0;
  padding: 0;
}

/* User details styles */

.info_box span {
  font-size: 40px;
  color: #C3423F;
}
.info_box {
  background-color: rgba(228, 163, 148, 0.90);
  border: solid 1px #C3423F;
  width: 200px;
  height: 100px;
  margin-right: 80px;
  margin-bottom: 50px;
  color: black;
  text-decoration: none;
  text-align: center;
  display: inline-block;
}
a.info_box:hover {
  border: solid 1px #F4F1BB;
}

/* -----------------------------------  MODAL  -----------------------------------------------*/
#modalAdd {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
#modalAdd.content {
    background-color: red;
    font-size: 2vw;
}

#modalRemove {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
#modalremove.content {
  background-color: red;
  font-size: 2vw;
}