<form id="" method="POST">
    <fieldset>
        {%  for message in get_flashed_messages() %}
            {{ message }}
        {% endfor %}
        <legend>{{ fieldset_title }} {{ role if role else user.get_user_class_name().lower() }} </legend>
            <label for="firstname">First name </label>
            <input type="text" name="firstname" id="firstname" required value="{{ user.name.split()[0] if user }}"/>
            <label for="lastname">Last name </label>
            <input type="text" name="lastname" id="lastname" required value="{{ user.name.split()[1] if user }}"/>
            <label for="email">E-mail </label>
            <input type="email" name="email" id="email" required value="{{ user.mail if user }}"/>
            <label for="password">Password </label>
            <input type="password" name="password" id="password" pattern=".{6,}" title="Six or more characters"
                 {% if role %} required {% endif %}/>
                 <button onclick=add_edit_user(this.form.id) type="submit" class="submit_button">Save</button>
    </fieldset>
</form>
