{% extends "layout.html" %}

{% block title %}{{title}} {{ super() }}{% endblock %}

{% block page_name_h1 %}{{title}}{% endblock %}

{% block content %}
    <form method="POST">
        <fieldset>
            <legend>Assignment</legend>
            <label for="assignment_title">Assignment title </label>
            <input type="text" name="assignment_title" id="assignment_title" required autofocus/>
            <label for="due_date">Due date </label>
            <input type="date" id=due_date name="due_date"/>
            <label for="max_points">Max points </label>
            <input type="number" name="max_points" id="max_points" min="1" max="100" step="1" required/>
            <label for="content">Content</label>
            <textarea name="content" id="content" required></textarea>
            <button type="submit" class="submit_button" >Save</button>
        </fieldset>
    </form>
{% endblock %}