{% extends 'layout.html' %}

{% block title %}
    Add {{ role.capitalize() }}
{% endblock %}

{% block page_name_h1 %}
   Add {{ role.capitalize() }}
{% endblock %}

{% block content %}

<div class="content">

        <!-- Form
        ================================================== -->
        <form method="POST">
            <fieldset>
                {%  for message in get_flashed_messages() %}
                {{ message }}
                {% endfor %}
                <legend>{{ fieldset_title }} {{ role }} </legend>
                  <label for="firstname">First name </label>
                  <input type="text" name="firstname" id="firstname" required/>
                  <label for="lastname">Last name </label>
                  <input type="text" name="lastname" id="lastname" required/>
                  <label for="email">E-mail </label>
                  <input type="email" name="email" id="email" required/>
                  <label for="password">Password </label>
                  <input type="password" name="password" id="password" required pattern=".{6,}" title="Six or more characters"/>
                  <button type="submit" class="submit_button">Save</button>
            </fieldset>
        </form>
      </div>
{% endblock %}