<div class="modal" id="addSubmission">
  <div class="modal_content">
    <h2><a href="#">Assignment</a></h2>
    <form class="add_submission_form">
        <fieldset>
            <legend>Submission</legend>
            <label for="submission_link">Submission link </label>
            <input type="url" name="content" id="submission_link" placeholder="Type link with http:// at the beginning :-)" autofocus required/>
        </fieldset>
    </form>
    <button id="add_submission_button2" type="submit" class="submit_button" onclick="addSubmission(id)">Save</button>
  </div>
</div>
