<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Add/edit person</title>
    <!-- Custom Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans" rel="stylesheet">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="style.css">
    <script src="https://www.w3schools.com/lib/w3data.js"></script>
  </head>
  <body>
    <div w3-include-html="sidebar.html"></div>
    <div class="wrap">
      <h1>Add/edit person</h1>
      <div class="content">
        <!-- Form
        ================================================== -->
        <form>
            <fieldset>
                <legend>Person</legend>
                  <label for="email">E-mail </label>
                  <input type="email" name="email" id="email" required/>
                  <label for="firstname">First name </label>
                  <input type="text" name="firstname" id="firstname" required/>
                  <label for="lastname">Last name </label>
                  <input type="text" name="lastname" id="lastname" required/>
                  <label for="password">Password </label>
                  <input type="password" name="password" id="password" required pattern=".{6,}" title="Six or more characters"/>
                  <button type="submit" class="submit_button">Save</button>
            </fieldset>
        </form>
      </div>
    </div>
    <!-- JavaScript -->
    <script>
      w3IncludeHTML();
    </script>
  </body>
</html>
