{% extends "layout.html" %}

{% block title %}Attendance check | {{ super() }}{% endblock %}

{% block page_name_h1 %}Students attendance check{% endblock %}

{% block content %}
    <div class="content">
    <!-- Table
    ================================================== -->
      <div id="label-input">
        <label>Date </label><input type="date" placeholder="Date"/>
{#        <button class="submit_button" type="submit" name="button">Save</button>#}
      </div>
      <table id="attendance_table">
          {% for student in students_list %}
          <tr>
              <td> {{ student.get_name() }}</td>
              <form action method="POST">
              <td><input type="radio" name="{{ student.get_id() }}" value=1 />Present</td>
              <td><input type="radio" name="{{ student.get_id() }}" value='L' />Late</td>
              <td><input type="radio" name="{{ student.get_id() }}" value=0 />Absent</td>
          </tr>
          {% endfor %}
      <button class="submit_button" type="submit" name="button">Save</button>
      </table>
    </div>
  </div>
{% endblock %}