<form method="POST">
    <fieldset>
        <legend>Team</legend>
        <label for="team_name_form">Team name </label>
        <input type="text" name="name" id="team_name_form" value="" autofocus required/>
        <label for="member_list">Add student </label>
        <input type="text" name="student" id="member_list" list="team_members">
        <datalist id="team_members">

        </datalist>
    </fieldset>
</form>
<button id="edit_team_button" onclick="EditTeam()" class="submit_button">Save</button>