<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Beloved Codecool CCMS{% endblock %}</title>
    <!-- Custom Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans" rel="stylesheet">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/static/css/style.css">
    <!-- JavaScript -->
    <script src="/static/js/login.js"></script>
  </head>
  <body>
    <sidebar>
      <!-- Sidebar Header
      ================================================== -->
      <header class="sideheader">
        <p>You're logged in as:</p>
        <img id="logo" src="/static/images/logo.png" alt="logo">
        <h2>{{ session['user_role'] }}<br>{{session['user_name']}}</h2>
        <a href={{ url_for('logout') }}>Logout</a>
      </header>
      <!-- Navigation
      ================================================== -->
      <nav>
         <ul>
             <li><a href={{ url_for('index') }}>User menu</a></li>
             {% if session['user_role'] in ['Student'] %}
            <ul class="submenu">
                <li><a href="assignments.html">My assignments</a></li>
                <li><a href="submissions.html">My submissions</a></li>
                <li><a href="grades_view.html">My grades</a></li>
                <li><a href="team_details.html">My team</a></li>
                <li><a href="attendance_student_view.html">My attendance</a></li>
            </ul>
             {% endif %}
         {% if session['user_role'] in ['Mentor', 'Staff', 'Boss'] %}
                <li><a href={{ url_for('users_ctrl.users_list_by_role', role='student') }}>Students</a></li>

                <ul class="submenu">

                    {% if session['user_role'] in ['Mentor', 'Staff', 'Boss'] %}
                    <li><a href={{ url_for('users_ctrl.users_list_by_role', role='student') }}>List of students</a></li>
                    {% endif %}

                    {% if session['user_role'] in ['Mentor', 'Boss'] %}
                    <li><a href={{ url_for('users_ctrl.user_add', role='student') }}>Add student</a></li>
                    {% endif %}

                    {% if session['user_role'] in ['Mentor', 'Boss'] %}
                    <li><a href="teams.html">Teams</a></li>
                    {% endif %}

                    {% if session['user_role'] in ['Mentor', 'Boss'] %}
                    <li><a href="attendance_check.html">Attendance check</a></li>
                    {% endif %}

                    {% if session['user_role'] in ['Mentor', 'Boss'] %}
                    <li><a href="attendance_list.html">Attendance list</a></li>
                    {% endif %}
                </ul>
         {% endif %}
         {% if session['user_role'] in ['Mentor', 'Staff', 'Boss'] %}
                <li><a href="assignments.html">Assignments</a></li>
                    <ul class="submenu">
                    <li><a href="assignments.html">List of assigments</a></li>
                    <li><a href="add_edit_assignment.html">Add an assigments</a></li>
                    <li><a href="submissions.html">List of submissions</a></li>
                  </ul>
         {% endif %}
         {% if session['user_role'] in ['Mentor', 'Staff', 'Boss'] %}
              <li><a href={{ url_for('users_ctrl.users_list_by_role', role='mentor') }}>Mentors</a></li>
                <ul class="submenu">
                  <li><a href={{ url_for('users_ctrl.users_list_by_role', role='mentor') }}>List of mentors</a></li>
                  {% if session['user_role'] in ['Boss']  %}
                    <li><a href={{ url_for('users_ctrl.user_add', role='mentor') }}>Add mentor</a></li>
                  {% endif  %}
                </ul>

              {% if session['user_role'] in ['Mentor', 'Staff', 'Boss'] %}
              <li><a href={{ url_for('users_ctrl.users_list_by_role', role='staff') }}>Staff</a></li>
              {% endif %}

             {% if session['user_role'] in ['Mentor', 'Staff', 'Boss'] %}
                <ul class="submenu">
                  <li><a href={{ url_for('users_ctrl.users_list_by_role', role='staff') }}>List of staff</a></li>
                  <li><a href={{ url_for('users_ctrl.user_add', role='staff') }}>Add staff</a></li>
                </ul>
         {% endif %}
            </ul>
          </nav>
    </sidebar>
    <div class="wrap"><h1>
      {% block page_name_h1 %}{% endblock %}</h1>
      <div class="content">
      {% block content %}{% endblock %}
      </div>
    </div>
  </body>
</html>
