 <div id="modalRemoveUser" class="modal">
                <div class="modal_content">
                    <p>Are you sure</p>
                    <button id="button_remove_yes" onclick="" class="button team_button">Yes</button>
                    <p class="button team_button">No</p>
                </div>
            </div>

<div id="modalRemoveAssignment" class="modal">
            <div class="content">

        <fieldset>
            <h1>Are you sure?</h1>

            <button id="button_remove_yesAssignment" onclick="remove_assignment()">YES</button>
            <button id="sure_no">NO</button>

        </fieldset>

            </div>
</div>

