{% extends "layout.html" %}

{% block title %}{{ assignment.get_title() }} | List of submissions | {{ super() }}{% endblock %}

{% block page_name_h1 %}{{ assignment.get_title() }} | List of submissions{% endblock %}

{% block content %}
<!-- Table
================================================== -->
<table>
    <thead>
        <tr>
            <th>id</th>
            <th>Student name</th>
            <th>Status</th>
            <th>Points</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for submission in list_assignment_submissions %}
            <tr>
                <td>{{ submission.get_id() }}</td>
                <td>{{ submission.get_student().get_name() }}</td>
                <td>
                {% if submission.get_points() %}
                    graded
                {% else %}
                    not graded
                {% endif %}
                </td>
                <td>
                {% if submission.get_points() %}
                    {{ submission.get_points() }}
                {% else %}
                      – –
                {% endif %}
                /{{ assignment.get_max_points() }}
                </td>
                <td>
                    <a href="submission_details.html" class="button">Details</a>
                    <a href="#" class="button">Grade</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
