{% extends "layout.html" %}

{% block title %}
{{ assignment.get_title() }} - {{ submission.get_student().get_name() }} grade | {{ super() }}
{% endblock %}

{% block page_name_h1 %}
<a href="{{ url_for('assignments_ctrl.assignment_details', assignment_id=assignment.get_id()) }}">{{ assignment.get_title() }}</a> -
<a href="student_details">{{ submission.get_student().get_name() }}</a> grade
{% endblock %}

{% block content %}
    <form action="" method="POST">
        <fieldset>
            <legend>Grade</legend>
            <input type="number" name="points" min="0" max="{{ assignment.get_max_points() }}" value="{{ submission.get_points() }}" autofocus required>
            <input class="button grade_button" type="submit" value="Grade">
        </fieldset>
    </form>
{% endblock %}
