<div class="modal" id="gradeSubmission">
  <div class="modal_content">
  <h2>Grade submission</h2>
      <form>
          <fieldset>
              <legend>Grade</legend>
              <input type="number" name="points" id="points" min="0" max="{{ assignment.get_max_points() }}" value="{{ submission.get_points() }}" autofocus required>
          </fieldset>
      </form>
      <button class="grade_button" type="submit" id="grade_submission_save_button" onclick="gradeSubmission(id)">Grade</button>
  </div>
</div>
