{% extends "layout.html" %}

{% block title %}Teams {{ super() }}{% endblock %}

{% block page_name_h1 %}List of teams{% endblock %}

{% block content %}
    <button class="button team_button" onclick="showModalAddTeam()">Add new team</button>
    <table>
        <thead>
            <tr>
                <th>id</th>
                <th>Name</th>
                <th>Students</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody id="team_table_body">
            {% for team in teams_list %}
                <tr id="team_{{ team.get_id() }}">
                    <td>{{ team.get_id() }}</td>
                    <td>{{ team.get_name() }}</td>
                    <td>
                        <ol>
                            {% for student in team.get_members() %}
                                <li>{{ student.get_name() }}</li>
                            {% endfor %}
                        </ol>
                    </td>
                    <td>
                        <a href="{{ url_for('teams_ctrl.team_details', team_id=team.get_id()) }}"  class="button team_button">Details</a>
                        <button class="button team_button" onclick="showModalEditTeam({{team.get_id()}})">Edit</button>
                        <button class="button team_button" onclick="showModalRemoveTeam({{team.get_id()}})">Remove</button>
                    </td>
                </tr>

            {% endfor %}
            <div id="modalRemoveTeam">
                <div class="modal_content">
                    <p>Are you sure</p>
                    <button id="button_remove_yes" onclick="remove_team()" class="button team_button">Yes</button>
                    <p onclick="hideModalRemoveTeam()" class="button team_button">No</p>
                </div>
            </div>
            <div id="modalAddTeam">
                <div class="modal_content">
                    {% include '/add_team_form.html' %}
                </div>
            </div>
            <div id="modalEditTeam">
                <div class="modal_content">
                    {% include '/edit_team_form.html' %}
                </div>
            </div>

        </tbody>
    </table>

{% endblock %}
