{% extends 'layout.html' %}

{% block title %}User details | {{ super() }}{% endblock %}

{% block page_name_h1 %}
User details

{% if user.get_user_class_name() == 'Mentor' and session['user_role'] == 'Boss' %}
<a href={{ url_for('users_ctrl.user_edit', user_id = user.get_id()) }} class="button user_button">Edit</a>
{% endif %}

{% endblock %}

{% block content %}
<h3>Name: {{ user.get_name() }}</h3>
<p>mail: {{ user.get_mail() }}</p>

{% if session['user_role'] == 'Student' %}
<p><a href={{ url_for('users_ctrl.user_edit', user_id = user.get_id()) }}>edit profile</a></p>
{% endif %}

<a href="/attendances?student={{ user.get_name() }}" class="info_box"><h2>overall attendance</h2><span>{{ user.get_overall_attendance() }}%</span></a>
<span class="info_box"><h2>overall grade</h2><span>{{ user.get_overall_grade() }}%</span></span>

<h2>Assignments</h2>
<table>
    <thead>
        <tr>
            <th>id</th>
            <th>Assignment name</th>
            <th>Submission</th>
            <th>Grade</th>
        </tr>
    </thead>
    <tbody>
        {% for submission in user.get_submission_list() %}
            <tr>
              <td>{{loop.index}}. {{item}}</td>
              <td><a href="{{ url_for('assignments_ctrl.assignment_details', assignment_id=submission.get_assignment().get_id()) }}">{{ submission.get_assignment().get_title() }}</a></td>
              <td><a href="{{ url_for('submissions_ctrl.submission_details', submission_id=submission.get_id()) }}" class="button">View submission</a></td>
              <td>
                  {% if submission.get_points() %}
                      {{ submission.get_points() }}
                  {% else %}
                        – –
                  {% endif %}
                  /{{ submission.get_assignment().get_max_points() }}
              </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
