{% extends 'layout.html' %}

{% block title %}
    {{ role.capitalize() + 'list' if role  else 'Users list' }}
{% endblock %}

{% block page_name_h1 %}
    {{ role.capitalize() + 's list' if role in ['student', 'mentor', 'staff']  else 'Users list' }}
{% endblock %}

{% block content %}
    {%  if (role == 'mentor' and session['user_role'] == 'Boss')  or
            (role == 'student' and session['user_role'] in ['Boss', 'Mentor']) %}
    <button class="button submit_button" onclick=showModalAddUser('new_user')>Add new {{ role }}</button>
    {% endif %}
      {% for message in get_flashed_messages() %}
    {{ message }}
    {% endfor %}
      <div class="content">
        <table id={{ role }}>
            <thead>
                <tr>
                    <th>id</th>
                    <th>Name</th>
                    <th>E-mail</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody id="user_table_body">
            {% for index, user in users %}
                <tr id="user{{ user.get_id() }}">
                    <td class="table_index">{{ index+1 }}.</td>
                    <td><a href={{ url_for('users_ctrl.user_details', user_id = user.get_id()) }}>{{ user.get_name() }}</a></td>
                    <td><a href="mailto://{{ user.get_mail() }}">{{ user.get_mail() }}</a> </td>
                    <td>
                        <a href={{ url_for('users_ctrl.user_details', user_id = user.get_id()) }} class="button user_button">Details</a>

                        {% if (user.get_user_class_name() == 'Mentor' and session['user_role'] == 'Boss')
                                or  (user.get_user_class_name() == 'Student' and session['user_role'] in ['Boss', 'Mentor']) %}
                        <button onclick=showModalAddUser({{user.get_id()}}) class="button user_button">Edit</button>
                        {% endif %}

                        {% if user.get_user_class_name()== 'Mentor' and session['user_role'] == 'Boss' %}
                        <button class="button user_button" onclick=showModalRemoveUser({{user.get_id()}})>Remove</button>
                        {% endif %}

                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
      </div>
    {% include 'remove_confirm.html' %}
    <div id="new_user_modal" class="modal">
    {% include 'add_edit_person_form.html' %}
    </div>
{% endblock %}


{% block scripts %}
<script src='/static/js/users.js'></script>
{% endblock %}